<h1>ET-718 Rocks</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
